@font-face {
    font-family: 'FT Expo Black';
    src: url('../fonts/FT EXPO Black.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FT Expo Outline';
    src: url('../fonts/FT EXPO Black Outline.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
