/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  /* Estilo base de la barra de navegación */
  .navbar-links {
      display: none; /* Oculta los enlaces por defecto */
      flex-direction: column; /* Coloca los enlaces en columna */
      position: fixed; /* Fija el menú en el lado izquierdo */
      top: 0; /* Alinea al principio de la pantalla */
      left: -250px; /* Lo oculta fuera de la pantalla */
      width: 250px; /* Define el ancho del menú */
      height: 100vh; /* Ocupa toda la altura de la pantalla */
      background-color: #303030; /* Fondo del menú */
      padding-top: 60px; /* Da espacio desde la parte superior */
      z-index: 999;
      transition: left 0.3s ease; /* Animación suave para el deslizamiento */
  }

  /* Cuando la barra de navegación está activa */
  .navbar-links.active {
      display: flex; /* Muestra el menú cuando está activo */
      left: 0; /* Lo desplaza a la izquierda */
  }

  /* Estilo del botón de hamburguesa */
  .hamburger {
      display: block; /* Muestra el botón de hamburguesa en pantallas pequeñas */
      cursor: pointer;
  }

  /* Estilo de los enlaces dentro del menú */
  .navbar-links a {
      color: white;
      padding: 15px; /* Espaciado más amplio */
      text-align: left; /* Alinea el texto a la izquierda */
      width: 100%; /* Hace que los enlaces ocupen todo el ancho */
      border-bottom: 1px solid #444; /* Agrega un borde sutil entre enlaces */
      box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
      border-bottom: none;
  }

  .navbar-links a:hover {
      background-color: #555; /* Resalta el fondo al pasar el cursor */
  }

  .navbar .active-a {
      background-color: #101010;
      border-radius: 0px;
      padding: 17px;

  }

  /* Ajuste de estilos para el dropdown en vistas de móvil */
.dropbtn {
    display: none;
}

    .banner {
        height: 260px;
    }

    .banner-merch {
        height: 260px;
    }

    .image-box-b {
                  display: none;
              }

    .banner h1, .banner-merch h1 {
        font-size: 2rem;
        margin: 0;
    }

    .banner h2, .banner-merch h2 {
        font-size: 1rem;
        margin: 0;
    }

    .banner p, .banner-merch p {
        font-size: 1.2rem;
    }

    .banner-4 {
    background-image: url('https://i.ibb.co/h9MBXr5/banner-catalog-phone.png');
    }

    .section-cuadros {
        flex-direction: column;  /* Cambia la dirección a columna */
        gap: 15px;               /* Reduce el espacio entre los cuadros */
    }

    .cuadro i {
        font-size: 2rem;
        color: #333;
        margin-bottom: 0px;
    }

    .cuadro h3 {
        font-size: 1.2rem;
        margin: 6px 0;
    }
    .cuadro p {
        font-size: .9rem;
    }

    .cuadro {
        height: auto;
        width: auto;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

      .section-merch {
        padding-top: 10px;
        gap: 0px;
      }

      .text-box-merch h1 {
          font-size: .8rem; /* Reducir el tamaño del encabezado */
      }

      .text-box-merch i {
          font-size: 1.5rem; /* Reducir el tamaño del encabezado */
          text-align: ri;
      }

      .text-box-merch {
        height: 100px;
        width: 250px;
        border-radius: 15px;
        padding: 5px;
        text-align: center;
        transition: transform 0.3s ease;
      }

      .button-overlay {
          position: absolute; /* Posiciona el botón dentro del contenedor de la imagen */
          top: 85%; /* Centra el botón verticalmente */
          left: 50%; /* Centra el botón horizontalmente */
          transform: translate(-50%, -50%); /* Ajusta el botón para que quede exactamente centrado */
          background-color: #C30000; /* Color de fondo del botón */
          font-weight: bold;
          color: white; /* Color del texto */
          padding: 10px 20px; /* Espaciado interno */
          font-size: 1rem; /* Tamaño de la fuente */
          text-decoration: none; /* Elimina el subrayado */
          border-radius: 25px; /* Bordes redondeados */
          transition: background-color 0.3s ease; /* Transición suave */
      }

      .button-overlay:hover {
          background-color: #808080; /* Cambia el color del botón al pasar el mouse */
      }

      .section-playeras h2,
      .section-tazas h2,
      .section-sudaderas h2 {
          font-size: 1.8rem; /* Reducir el tamaño en pantallas más pequeñas */
      }
      .section-playeras p,
      .section-tazas p,
      .section-sudaderas p {
          font-size: 0.9rem; /* Reducir aún más el tamaño en pantallas más pequeñas */
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      .section-playeras .highlight,
      .section-tazas .highlight,
      .section-sudaderas .highlight {
          font-size: 1rem; /* Reducir tamaño */
      }
      .section-playeras .subheading,
      .section-tazas .subheading,
      .section-sudaderas .subheading {
          font-size: 1.2rem; /* Reducir tamaño */
      }
      .section-playeras .info,
      .section-tazas .info,
      .section-sudaderas .info {
          font-size: 0.9rem; /* Reducir tamaño */
      }
      .section-playeras,
      .section-tazas,
      .section-sudaderas {
          flex-direction: column;
          text-align: center;
          align-items: center;
      }
      .text-box, .image-box, .image-box-b,
      .text-box-taza, .image-box-taza {
          width: 80%;
      }

      .banner img, .banner-merch img {
        width: 330px;
        height: auto;
      }

      .boton-whatsapp, .boton-pedido {
        display: none;
      }

      .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding: 20px 20px;
      }

      .box {
        font-size: .9rem;
        padding: 12px;
      }

      .box-a {
          width: auto;
          height: auto; /* Ajusta la altura según necesites */
      }

      .box-t {
          width: 375px; /* Tamaño fijo para evitar expansión */
          height: auto; /* Mantiene proporción */
          border-radius: 5px;
      }

      .box-t img {
        width: auto;
        height: auto; /* Ajusta la altura según necesites */
    }
      
      .img-container img {
        width: auto;  /* Hace que la imagen llene el contenedor */
        height: 100%; /* Mantiene la proporción */
        
      }

      .img-container {
        width: auto; /* Tamaño fijo para evitar expansión */
        height: 250px; /* Mantiene proporción */
        border-radius: 5px;
      }

      .img-container-b {
        width: auto; /* Tamaño fijo para evitar expansión */
        height: auto; /* Mantiene proporción */
        border-radius: 5px;
      }


      .box svg {
        width: 35px;
        height: 35px;
      }

      .box-a img.default-img {
        display: none; /* Oculta la imagen normal */
      }

      .box-a img.hover-img {
        opacity: 1; /* Muestra la imagen de hover */
        position: relative; /* Asegura que se muestre correctamente */
       }

      .hot-tag {
        font-size: 9px;
        padding: 5px 5px;

      }


      .hot-tag i {
          margin-right: 5px;
      }

      .search-container {
          padding-left: 20px;
          padding-right: 20px;
          margin: 5px;
          padding-bottom: 10px;
      }

      .search-bar {
          width: 100%;
          font-size: 15px;
          border-radius: 30px;
          height: 30px;
      }

      .box-a .overlay-text {
          top: 80px; /* Ajusta el texto para que esté arriba */
          font-size: 19px;
      }

      .box-a button {
          width: 30px;
          height: 30px;
          font-size: 13px;
      }

      .box-a button {
        opacity: 0; /* Hacer los botones visibles */
        visibility: visible; /* Asegurarse de que los botones sean visibles */
      }
      .box-a:hover button {
        opacity: 1; /* Asegurarse de que los botones no cambien al hacer hover */
        visibility: visible;
       }

       .contador-num {
         font-size: 2rem;
       }

       .contador-texto {
         font-size:1rem;
       }

       .productos-personalizables-d {
         padding: 0px 20px;
         padding-bottom: 20px;
         margin: 0px;

       }

       .productos-personalizables-d h2 {
         font-size: 1.3rem;
         padding-top: 20px;
       }

       .productos-personalizables-b h2, .productos-personalizables-c h2 {
           font-size: 1.5rem; /* Tamaño de la fuente */
           padding-top: 0px;
           margin: 10px;
       }

       .box-h {
           width: auto; /* Tamaño fijo para evitar expansión */
           height: auto; /* Mantiene proporción */
       }

       .img-container-c {
           height: auto;
           width: auto;
       }

       .container-b {
        display: grid;
        grid-template-columns: 1fr; /* Una sola columna */
        justify-items: center;
      }
      

       .container-c {
           grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
               max-width: 400px; /* Limita el ancho máximo */
       }

       .box-t .overlay-text-b {
           top: 90px; /* Ajusta el texto para que esté arriba */
           font-size: 20px;
       }

       .box-h .overlay-text-h {
           top: 80px; /* Ajusta el texto para que esté arriba */
           font-size: 11px;
       }

       .box-t button {
           width: 30px;
           height: 30px;
           font-size: 13px;
       }

       /* Botón de Regresar */
       .back-btn {
           padding-right: 10px;
           padding-left: 10px;
           margin-right: 10px;
           border-radius: 30px;
           font-size: 20px;
           height: 40px;
       }

       /* Botón de Filtrar */
       .filter-btn {
           padding: 10px;
           margin-left: 10px;
           font-size: 14px;
           align-items: center;
           justify-content: center;
           height: 40px;
           text-align: center;
       }

       .section-comparison {
         padding: 20px 0px; /* Ajustar el padding */
         gap: 3px; /* Mantiene un espacio entre los elementos, si lo deseas */
       }

       .text-slider h2 {
         font-size: 1.5rem;
       }

       .text-slider p {
         font-size: .8rem;
         margin: 10px;
         padding-left: 25px;
         padding-right: 25px;
       }

       .comparison-container {
           position: relative;
           width: 100%;
           max-width: 380px;
           height: 200px;
           overflow: hidden;
           border-radius: 10px; /* Ajusta el valor para redondear las esquinas */
           /* Agrega un borde si deseas, este es opcional */
           border: 1px solid #ddd; /* Cambia el color y tamaño según prefieras */
       }


       .comparison-container img {
           position: absolute;
           border-radius: 10px; /* Debes asegurarte que las imágenes también tengan esquinas redondeadas */
       }

       .section-products {
         padding-top: 30px;
         padding-bottom: 10px;
         background-color: #fff;
         gap: 15px;
       }

       .product-item {
         text-align: center;
         transition: transform 0.3s ease;
       }

       .circle {
         width: 60px;
         height: 60px;
       }

       .circle img {
         width: 70px; /* La imagen sobresale del círculo */
         top: -10px;
       }

       .product-item p {
         margin-top: 5px;
         font-size: 9px;
       }

       .container-destacados {
           flex-direction: column;
           background-image: url(https://i.ibb.co/dwG2khgF/banner-paper-movile.png);
       }

       .box-destacados {
           width: 300px;
           border-radius: 8px;
           overflow: hidden;
           margin: 15px 20px;
       }

       .box-destacados img {
           border-radius: 8px;
       }

       .destacados-title h2{
           font-size: 1.6rem; /* Tamaño de la fuente */
           padding-top: 20px;
           margin: 0px 100px;
           color: #BA006E;
       }


       .destacados-title {
           background-image: url(https://i.ibb.co/vvs0qCYn/banner-movile-san-valentin.png);


       }

       .wrapper {
                   flex-direction: column;
                   align-items: center;
                   background-size: 200% 100%;
               }

       .photo img {
           width: 350px;
           height: auto;
           border-radius: 5px;
       }
       .wrapper-content {
           align-items: center;
           padding-top: 20px;
       }

       .oferta-san-valentin {
           background-color: #ffe6e6;
           padding: 40px 20px;
           text-align: center;
           border: 2px solid #ff4d4d;
           border-radius: 10px;
           margin: 20px auto;
           max-width: 350px;
       }



}

/* Media query adicional para pantallas más pequeñas (hasta 375px) */
  @media (max-width: 375px) {
    .banner {
      height: 200px; /* Aún más pequeño */
    }

    .banner-merch {
      height: 200px; /* Aún más pequeño */
    }

    .banner h1,
    .banner-merch h1 {
      font-size: 1.6rem; /* Más pequeño */
    }

    .banner h2,
    .banner-merch h2 {
      font-size: 0.9rem; /* Aún más pequeño */
    }

    .banner p,
    .banner-merch p {
      font-size: 1rem; /* Más pequeño */
    }

    .section-cuadros {
      gap: 10px; /* Aún menos espacio */
    }

    .cuadro i {
      font-size: 1.6rem; /* Más pequeño */
    }

    .cuadro h3 {
      font-size: 1rem; /* Más pequeño */
    }

    .cuadro p {
      font-size: 0.8rem; /* Más pequeño */
    }

    .text-box-merch h1 {
      font-size: 0.7rem;
    }

    .text-box-merch i {
      font-size: 1.3rem;
    }

    .text-box-merch {
      height: 80px;
      width: 200px;
      padding: 3px;
    }

    .button-overlay {
      font-size: 0.9rem;
      padding: 8px 16px;
    }

    .section-playeras h2,
    .section-tazas h2,
    .section-sudaderas h2 {
      font-size: 1.5rem;
    }

    .section-playeras p,
    .section-tazas p,
    .section-sudaderas p {
      font-size: 0.8rem;
    }

    .section-playeras .highlight,
    .section-tazas .highlight,
    .section-sudaderas .highlight {
      font-size: 0.9rem;
    }

    .section-playeras .subheading,
    .section-tazas .subheading,
    .section-sudaderas .subheading {
      font-size: 1.1rem;
    }

    .section-playeras .info,
    .section-tazas .info,
    .section-sudaderas .info {
      font-size: 0.8rem;
    }

    .banner img,
    .banner-merch img {
      width: 280px; /* Aún más pequeño */
    }

    .container {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      padding: 15px 15px;
      gap: 5px;
    }

    .container-a {
      display: grid;
      grid-template-columns: 1fr; /* Una sola columna */
      padding: 15px;
      gap: 10px;
    }
    
    .container-b {
      display: grid;
      grid-template-columns: 1fr; /* Una sola columna */
      padding: 15px;
      gap: 10px;
    }

    .box {
      font-size: 0.8rem;
      padding: 8px;
    }

    .box-a {
      width: auto;
      height: auto;
    }

    .box-t {
      width: auto;
    }

    .img-container {
      width: auto; /* Ajusta al contenido */
      height: auto;
    }
    

    .img-container-b {
      width: auto;
      height: auto;
    }

    .box svg {
      width: 30px;
      height: 30px;
    }

    .box-a .overlay-text {
      top: 20px;
      font-size: 10px;
    }

    .box-a button {
      width: 25px;
      height: 25px;
      font-size: 11px;
    }

    .productos-personalizables-d h2 {
      font-size: 1.1rem;
    }

    .productos-personalizables-b h2,
    .productos-personalizables-c h2 {
      font-size: 1.3rem;
    }

    .box-h {
      width: 130px;
      height: 130px;
    }

    .img-container-c {
      height: 130px;
    }
    

    .container-c {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        max-width: 300px;
    }

    .box-t .overlay-text-b {
        top: 40px;
        font-size: 9px;
    }

    .box-h .overlay-text-h {
        top: 60px;
        font-size: 9px;
    }

    .box-a button.btn-text-icon {
        font-size: 8px;
        height: 18px;
        padding-left: 6px;
    }

    .box-a button.btn-text-icon::after {
        font-size: 8px;
        margin-left: 3px;
    }

    .back-btn {
        font-size: 16px;
        height: 30px;
    }

    .filter-btn {
        font-size: 12px;
        height: 30px;
    }

    .text-slider h2 {
        font-size: 1.3rem;
    }

    .text-slider p {
        font-size: 0.7rem;
        padding-left: 15px;
        padding-right: 15px;
    }

    .comparison-container {
        max-width: 300px;
        height: 160px;
    }

    .circle {
        width: 50px;
        height: 50px;
    }

    .circle img {
        width: 60px;
        top: -8px;
    }

    .product-item p {
        font-size: 8px;
    }

    .box-destacados {
        width: 250px;
        margin: 10px 15px;
    }

    .destacados-title h2 {
        font-size: 1.4rem;
        margin: 0px 50px;
    }

    .photo img {
        width: 280px;
    }

    .oferta-san-valentin {
        padding: 30px 15px;
        max-width: 280px;
    }

    .button-container-b {
      padding-left: 20px; /* Espacio alrededor de la cuadrícula */
      padding-right: 20px; /* Espacio alrededor de la cuadrícula */
  }

  .container_merch_item {
    width: calc(100% - 50px); /* 100% menos 20px de padding a cada lado */
    padding: 10px 10px 0; /* Elimina el padding inferior */
}
  }


@media (min-width: 768px) {
   .floating-buttons {
     display: none;
   }
 }
